﻿@using Sitecore.Mvc
@using PersonalisationDemo.Project.PersonalisationDemo

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    @Html.Sitecore().Field(Templates.Page.Fields.Title)
    @Html.Sitecore().Field(Templates.Page.Fields.Section)

    @Html.Sitecore().Placeholder("header")
    <p>Last visited page</p>
    @Html.Sitecore().Placeholder("main")
    @Html.Sitecore().Placeholder("footer")
</body>
</html>